h1{ 
    font-family: 'Rubik Glitch', cursive!important;
    color: black;
}

.vegan{
    background-color: #F6EF62;
}

.table-burguer th{
    margin-left: 0px;
    min-width: 130px;
   
}
table{
    margin-top: 50px;
}

td{
    font-family: 'Anton', sans-serif;
}