h1{ 
    color: black;
}
.table{
    background-color: #D4A86A;
}
.vegan{
    background-color: #70B45A;
}

.table-burguer th{
    margin-left: 0px;
    min-width: 130px;
}

#agregar{
    background-color: #0290B1;
    border-radius: 60px 20px 5px;
    border-color: #0290B1;
}