h1{ 
    color: black;
}
.table{
    background-color: orange;
}
.vegan{
    background-color: green;
}
.btn-amount{
    min-width: 27px;
}
.table-burguer th{
    margin-left: 0px;
    min-width: 130px;
}
.int-amount{
    width: 50px;
}