<h1>Hamburguesas</h1>
<div class="table-burguer text-center">
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>¿Que Tiene?</th>
            <th>Precios</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let burger of burgers" [ngClass]="{'vegan':burger.vegan}">
            <td><img class="img-thumbnail"  [src]="burger.image" width="900" [alt]="burger.name"></td>
            <td>{{burger.name}}</td>
            <td>{{burger.description}}</td>
            <td>{{burger.price | currency}}</td>
            <td> 
              <app-input-user [amount]="burger.amount"></app-input-user>
            </td>
            <td>
            <button id ="agregar" (click)="addCart(burger)">Agregar</button>
            </td>
        </tr>
    </tbody>
</table>


</div>