h1{ 
    font-family: 'Rubik Glitch', cursive!important;
    color: black;
}

#finalizar{
    background-color: #0290B1;
    border-radius: 60px 20px 5px;
    border-color: #0290B1;
}
thead th{
    justify-content:space-between;
    padding-left: 0px;
    padding-right: 40px;
    font-family: 'Anton', sans-serif;
}
td{
    font-family: 'Anton', sans-serif;
}