
<h1>Carrito</h1>
<div class="carrito">
    <table >
        <thead >
            <tr>
                <th>Hamburguesa</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let burger of cartList">
                <td>{{burger.name}}</td>
                <td>{{burger.amount}}</td>
                <td><button class="btn btn-danger"(click)="deleteCart(burger)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="submit()">Realizar Pedido</button>
</div>
