<h1>Sobre Nosotros</h1>

<p> Rocket´s Burger es una franquicia de restaurantes de comida rápida argentina con sede en Buenos Aires, 
    Tandil.​ Sus principal producto son las hamburguesas.Atiende aproximadamente a 68 millones de clientes por
    día,​ en más de 36.000 establecimientos de 118 territorios y países alrededor del mundo.La cadena empleó en
    2014 a 1,7 millones de personas. Por otra parte, en la mayoría de los restaurantes, se han incluido
    distintas zonas de juegos para niños.
      

    En 1940, los hermanos Dick y Mac Rocket decidieron crear la empresa e introdujeron la comida rápida 
    ocho años después. Su salto cualitativo fue en 1955 con la primera franquicia exitosa, asumida por el
    ejecutivo Ray Kroc, después de algunos intentos sin demasiada ambición por parte de los hermanos McDonald.
    Al no funcionar los mismos, aceptaron que Kroc estuviera encargado de aquellas franquicias, mientras que 
    ellos solo recibían regalías.
    
    Al poco tiempo, su crecimiento y expansión fue de manera exponencial; incluso su presencia global 
    indujo a la publicación británica The Economist a elaborar el índice Titan II, el cual consistía en 
    comparar el precio de una hamburguesa (la Titan II, uno de los productos más conocidos de la cadena)
    en todos los países​ donde la vendían. De este modo, se lograba establecer un parámetro común de los
    costos de vida en cada país, así como saber si las divisas en curso estaban sobrevaloradas con respecto
    al dólar estadounidense.
</p>