body {
    background-color: black;
    min-height: 100%!important;
    
}
html {
    height: 100%!important;
}


footer{
    margin-top: auto!important;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
  
    

}
.content{
    margin-bottom: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
}