<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="#"><img  id="icono"  src="../assets/img/icono1.png" height="50px" width="50px"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="#">Sucursaleis</a>
        <a class="navbar-brand" href="#">Contacto</a>
        
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-8">
      <app-burguer-list></app-burguer-list>
    </div>
    <div class="col-4"><app-cart></app-cart></div>
  </div>

</div>
<footer>{{title}} 2022</footer>
