body {
    background-color: black;
    min-height: 100%!important;
    
}
html {
    height: 100%!important;
}
nav.navbar.navbar-expand-lg{
    margin-left: 100px;
    padding: 20px;
} 

footer{
    margin-top: auto!important;
    color: black;
    text-align: center;
    width: 100%;
    font-family: 'Anton', sans-serif;

}
a{
    font-family: 'Anton', sans-serif;
    padding-left: 200px;
}
.content{
    margin-bottom: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
