<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a [routerLink]="['/']"><img  id="icono"  src="../assets/img/icono1.png" height="50px" width="50px"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" [routerLink]="['/about']">Sobre nosotros</a>
        <a class="navbar-brand" [routerLink]="['/contact']">Contacto</a>
        
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <p> Rocket's Burger 2022</p>
  <p >By Joel Viviant © <a href="https://www.instagram.com/joelviviant/" target="_blank"> <img  width="20" height="20" src="assets\img\instagram.png"></a></p>  
</footer>
